doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Remote Logging

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Remote Logging

      section
        h2 Who am I?
        div(style='width:40%; text-align:left;')
          h3 Marius Ursache
          span(class='fa fa-twitter') &nbsp; bamse
          br
          span(class='fa fa-github') &nbsp; bamse16
          br
          span(class='fa fa-briefcase') &nbsp; Simple Aspect

      section
        h3 Debugging

        pre.language-obj-c
          code.
            if(DEBUG)
              NSLog(@"Application Started");

      section
        h3 Macros

        pre.language-obj-c
          code.
            #ifdef DEBUG
            #   define DLog(fmt, ...) NSLog((@"%s [Line %d] " fmt), ...)
            #else
            #   define DLog(...)
            #endif

            // ALog always displays output regardless of the DEBUG setting
            #define ALog(fmt, ...) NSLog((@"%s [Line %d] " fmt), ...)

      section
        h3 Macros usage

        pre.language-obj-c
          code.

            DLog(@"Application Started");

      section
        h3 CocoaLumberjack
        h4 A fast & simple, yet powerful & flexible logging framework for Mac and iOS
        pre.language-obj-c
          code.

            pod 'CocoaLumberjack'
            ...

            $ pod install

      section
        h3 CocoaLumberjack usage
        pre.language-obj-c
          code.

            static const int ddLogLevel = DDLogFlagDebug;
            [DDLog addLogger:[DDTTYLogger sharedInstance]];

            DDLogVerbose(@"Will Start Application");
            DDLogDebug(@"Application Should Start");
            DDLogInfo(@"Application Started");
            //...

        br
        br

      section
        h3 Custom log levels
        pre.language-obj-c
          code.

            DDLogSync(@"Starting Sync Operation");
            DDLogRts(@"Broadcasting Real Time event");

            static const int ddLogLevel = DDLogFlagInfo|LOG_FLAG_RTS;

        br
        br

      section
        h3 Antenna, DDAntennaLogger
        div(style="min-width:90%; text-align:left;")
          span Mattt Thompson @mattt
          br
          span Giovanni Lodi @mokagio

        pre.language-obj-c(style="min-width:90%")
          code.

            pod 'CocoaLumberjack'
            pod 'Antenna'
            pod 'DDAntennaLogger'

            $ pod install

        br
        br

      section

        pre.language-obj-c
          code.

            NSURL *url = [NSURL
                    URLWithString:@"http://log.marius.me.uk/log/"];
            [[Antenna sharedLogger]
                    addChannelWithURL:url method:@"POST"];
            [[Antenna sharedLogger]
                    startLoggingApplicationLifecycleNotifications];

            DDAntennaLogger *logger = [[DDAntennaLogger alloc]
                    initWithAntenna:[Antenna sharedLogger]];
            [DDLog addLogger:logger];

        br
        br

      section
        h2 Server Side
        h4 Node.js, ruby, etc.

        pre.language-obj-c
          code.

            npm install express-antenna-cocoalumberjack
            export NODE_EXPRESS_ANTENNA_LOG_PATH=/tmp/
            node node_modules/express-antenna-cocoalumberjack/app.js
            tail -f /tmp/antenna-cocoalumberjack.log

        br
        br
        br

      section
        h2 HTTP://log.marius.me.uk/log/
        p.
          create certificate

      section
        h2 Error
        p.
          CFNetwork SSLHandshake failed (-9847)

        h2 SSL Pinning
        p.
          Convert certificate

      section
        h2 Setup
        p.
          Code to setup pinning

      section
        h2 HTTP Auth
        pre.language-obj-c
          code.

            NSURLCredential *credential =
                [[NSURLCredential alloc] initWithUser:@"user"
                                             password:@"password"
                                          persistence:NSURLCredentialPersistenceSynchronizable];
            [manager setCredential:credential];


      section
        h1 Thank you
        a link to repo

    script(src='build/build.js')
